html,body {
	background: #eef4f8;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
}

.loading-indicator {
	font-size: 11px;
	background-image: url('../images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 20px;
	height: 18px;
	text-align: left;
	border: 3px solid #cccccc
}

#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -3;
	background-color: #eef4f8;
}

#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: -2;
	height: auto;
}

#loading img {
	margin-bottom: 5px;
}

#loading .loading-indicator {
	background: white;
	color: #555;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	text-align: center;
	height: auto;
}

/* login window */
#login-win .x-window-mc {
	background: #fff none;
	border: 1px solid #eee;
}

.login-logo .x-plain-body {
	background: #FFFFFF url('../images/login.png') no-repeat center center;
	padding: 0px 0px 0px 0px
}

.login-form .x-plain-body {
	background: #FFFFFF none;
	color: #222;
	padding: 5px 35px;
}

#login-win .x-window-body {
	background: #FFFFFF none repeat scroll 0%;
	border: 1px solid #FFFFFF;
}